.BadgeItem {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  background: var(--white-clr);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba($color: #000000, $alpha: 0.5);
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--dark-clr);
  }
  &__avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin-right: 2rem;
    border-radius: 50%;
    background-color: var(--lightgray-clr);
  }
  &__name {
    margin: 0 0 0.8rem;
  }
  &__twitter {
    display: flex;
    align-items: center;
    &-logo {
      width: var(--twitter-size);
      height: var(--twitter-size);
      margin-right: 0.4rem;
    }
    &-user {
      color: var(--lightblue-clr);
    }
  }
  &__job {
    margin: 0.5rem 0 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
