.Error {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-title {
    margin: 0 0 0.5rem;
  }
  &-message {
    margin: 0 0 1.6rem;
  }
  &-image {
    width: 100%;
    max-width: var(--error-size);
  }
}
