.FormError {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--red-clr);
  color: var(--white-clr);
  &__info {
    margin: 0;
    text-align: center;
    &:nth-of-type(1) {
      margin-bottom: 0.5rem;
    }
  }
  &__icon {
    position: absolute;
    width: 1.2rem;
    top: 10%;
  }
  &.remove {
    display: none;
  }
}
