.Navbar {
  position: relative;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--lightdark-clr);
  padding: 0 1.6rem;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;
  }
  &__link {
    color: var(--light-clr);
    text-decoration: none;
    &.logo {
      height: 100%;
      display: flex;
      align-items: center;
      span:first-of-type {
        margin-right: 0.5rem;
      }
    }
  }
  &__logo {
    min-width: 6rem;
    height: 100%;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__menu {
    position: fixed;
    z-index: 20;
    top: 0;
    right: -100%;
    width: 20.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 2rem 0;
    background-color: var(--lightdark-clr);
    transition: right 300ms;
    &.active {
      right: 0;
    }
  }
  &__item {
    &-container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 1rem 2rem;
      &.close {
        margin-bottom: 2rem;
      }
    }
    width: inherit;
    height: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: flex-end;
    color: var(--light-clr);
    text-decoration: none;
    font-size: var(--ft-size-m);
    user-select: none;
    transition: font-weight 0.3s;
    &:hover {
      font-weight: 700;
    }
    span {
      margin-left: 1rem;
    }
  }
  &__toggle {
    background: var(--lightdark-clr);
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: var(--white-clr);
    &-icon {
      font-size: 2.2rem;
    }
    &:focus,
    &:active {
      border: 0.1rem solid var(--white-clr);
    }
  }
}
