.Navbar {
  background-color: var(--dark-light-clr);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem 1.6rem;
  }
  &__link {
    color: var(--light-clr);
    text-decoration: none;
    transition: font-weight 0.3s;
    &-logo {
      display: flex;
      align-items: center;
    }
    &:hover {
      font-weight: 700;
    }
  }
  &__logo {
    width: 7rem;
    margin-right: 1rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  span:first-of-type {
    margin-right: 0.5rem;
  }
}
